:root{
    --banner-color:rgb(40, 51, 82);
    --btn-color1:rgb(241, 174, 144);
    --btn-color2:rgb(203, 215, 223); 
    --btn-color3:rgb(252, 255, 226); 
    --btn-color4:rgb(255, 255, 255);
    --btn:rgb(0, 57, 113);
    --black:rgb(0,0,0);
    --white:rgb(255,255,255);
    --link:rgb(136, 136, 136);
    --border: rgb(136, 136, 136,0.2);
    --pro-title-font:'25px';
    --pro-price-font:'12px';
    --pro-save-font:'10px';

}
*:root{
    box-sizing: border-box;
}
body {
    margin:0;
    font-family: "Sen", sans-serif;
}
img{
    object-fit: cover;
}
/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

  /* Track (background) */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
background: #888;
border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}
.height-100{
    height:100%;
}
.active-btn{
    background-color: var(--black);
    color:var(--white);
}