:root{
    --banner-color:rgb(40, 51, 82);
    --btn-color1:rgb(241, 174, 144);
    --btn-color2:rgb(203, 215, 223); 
    --btn-color3:rgb(252, 255, 226); 
    --btn-color4:rgb(255, 255, 225);
    --btn:rgb(0, 57, 113);
    --black:rgb(0,0,0);
    --white:rgb(255,255,255);
}
*:root{
    box-sizing: border-box;
}
body {
    margin:0;
    font-family: "Sen", sans-serif;
}
img{
    object-fit: contain;
}